*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
}

/* ================ Banner ================ */
.header{
    cursor: default;
    display: block;
    background: linear-gradient(30deg, #04F7B8, #5b548a);
    color: #303030;
    text-align: center;
    font-weight: 800;
    text-align: center;
    width: 100%;
    margin: 0px auto 30px;
    padding: 20px 30px 0px;
}
.header section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1{
    color: #F02135;
    background-color: #F5E120;
    border: 8px solid #F02135;
    border-radius: 5px;
    width: 85%;
    margin: 0 auto;
    font-size: 40px;
    text-shadow:  -3px -1px 1px #000;
}
.header p{
    font-size: 20px;
    padding: 10px 0 20px;

}
.header img {
    position:absolute;
    width: 65px;
    border: 3px solid #78909a;
    border-radius: 20px;
    top: 20px;
    left: 20px;
  }

/* ================ Holds everything, aside from header ================ */
.card{
    width: 90%;
    max-width: 700px;
    background: linear-gradient(30deg, #02e2a6, #5b548a);
    color: #ebfffc;
    margin: auto;
    border-radius: 40px;
    padding: 25px 35px;
    text-align: center;
}

.card h1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 15px;
}

/* ================ Search Bar and Button ================ */
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button svg{
    margin-top: 4px;
    font-size: 40px;
}
.invalidEntry {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: #E60000;
    background-color: #FFE0E0;
    width: fit-content;
    margin: 5px auto 0px;
    padding: 3px 8px;
    border-radius: 5px;
}

/* ================ Character info block ================ */
.infoBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
.infoBlock div{
    display: flex;
    flex-direction: column;
}

.characterImg{
    max-width: 250px;
    max-height: 320px;
    margin-right: 20px;
    border: 5px double #555;
    border-radius: 10px;
}
.castLogo{
    width: 425px;
    margin-top: 20px;
    border-radius: 10px;
}

/* ================ Character's details/ line arrangement ================ */
.head{
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-weight: 600;
    letter-spacing: .6px;
    color: #303030;
}
.info{
    display: block;
    text-indent: 10px;
    text-align: left;
}
.info a {
    text-decoration: none;
    color: #ebfffc;
}
.info a:hover{
    position: relative;
    background-color: #ebfffc;
    color: #303030;
    border-radius: 5px;
    padding: 5px;
    margin-left: -10px;

}
.line{
    display: flex;
    flex-direction: row;
    line-height: 22px;
    cursor: default;

}

@media (max-width: 700px) {
    .header h1{
        font-size: 30px;
        text-shadow: -2.5px -1px 1px #000;
    }
    .header p {
        font-size: 18px;
    }
    .search input {
        height: 50px;
        font-size: 16px;
    }
    .search button {
        height: 50px;
        width: 50px;
    }
    .search button svg{
        font-size: 30px;
    }
    .castLogo {
        width: 60vw;
    }
}
@media (max-width: 560px) {
    .header img{
        width: 55px;
    }
}
@media (max-width: 500px) {
    .header h1{
        font-size: 25px;
        text-shadow: -1px -1px 1px #000;
    }
    .header p {
        font-size: 14px;
    }
    .card {
        width: auto;
    }
}

/* 
.name, .image, .hairColor, .age, .gender, .allOccupations, .occupation, .relatives, .firstEpisode, .voicedBy {
}
name, relatives, image, occupation, allOccupations, wikiUrl */
